.search__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  position: relative;
  button {
    all: unset;
  }
  button {
    position: absolute;
    right: 30px;
    background-color: black;
    padding: 9px;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
}
