extends base

block content
    video(src="/"+video.fileUrl width="400" height="400" controls) 
    div
        p=video.description
        small=video.createdAt 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;